vendor/bin
vendor/obj
Wonder.sln
.vs/Wonder/v17/.suo
.vs/Wonder/v17/Browse.VC.db
.vs/Wonder/v17/DocumentLayout.json
.vs/Wonder/v17/Solution.VC.db
.vs/Wonder/FileContentIndex/6d7ff078-0ef0-44b0-b0d7-d106e8449ef2.vsidx
